<div class="modal-header">
  <h1 class="modal-title" align="center">Create Topic</h1>
</div>
<div class="modal-body">
  Please enter a new topic name:
  <input class="form-control" ng-focus="listCtrl.setCreating()" ng-blur="listCtrl.setNotCreating()" ng-model="createTopicCtrl.topic"/>
</div>
<div class="modal-footer">
  <button class="btn btn-default pull-left" ng-click="createTopicCtrl.cancel()">Cancel</button>
  <button class="btn btn-success pull-right" ng-click="createTopicCtrl.create();">Create</button>
</div>
